* {
    font-family: Bangers;
    font-weight: 100;
}

#logo {
    animation-name: spin;
    animation-duration: 5s;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(1080deg);}
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
    background-color: yellow;
    border-radius: 10%;
    width: device-width;
    max-width: 40rem;
    margin: auto;
    padding: 10px;
}

/* .box button {
    background-image: linear-gradient(to right, red 0%, yellow 100%);
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
    display: block;
}

.box button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
} */

.box img {
    width: 100%;
    clip-path: circle();
}

.box ul {
    list-style: inside;
    margin-left: auto;
    text-align: left;
}

.box p {
    text-align: center;
}

h1{
    text-align: center;
    font-weight: 100;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}



.box button {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
.box button {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;
   border-radius: 10px;
   display: block;
 }

 .box button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

